<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hack Mental Health Demo</title>
        <link rel="stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
    <div class ="jumbotron text-center">
        <h1>Home Page</h1>
        <p class="lead">Welcome back, </p>
        <div class="topnav">
            <a class="/active" href="/home">Home</a>
              <a href="/about">Status</a>
              <a href="/contact">Articles</a>
              <input type="text" placeholder="Search...">
                <!-- SQL Query Here -->
          </div>
    </div>
    </body>
</html>